name: Deploy GitHub Pages
on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
      - 'pyproject.toml'
      - 'poetry.lock'

env:
  cache_id: ""

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - name: Set variables from JSON
        id: json2vars
        uses: 7rikazhexde/json2vars-setter@v1.0.2
        with:
          json-file: .github/json2vars-setter/sample/cicd_matrix.json
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 33836132+github-actions[bot]@users.noreply.github.com
      - uses: actions/setup-python@v6.1.0
        with:
          python-version: ${{ fromJson(steps.json2vars.outputs.versions_python)[0] }}
      - run: echo "cache_id=$(date --utc '+%V')" >> "$GITHUB_ENV"
      - name: Create cache directory
        run: mkdir -p .cache
      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - name: Install Poetry
        run: pip install poetry
      - name: Poetry Setup
        run: poetry install
      - name: Deploy GitHub Pages
        run: poetry run mkdocs gh-deploy --force
